<link rel="stylesheet" href="/css/background.css">
<nav>
    <div class="nav-wrapper cyan darken-3">
        <% if(locals.tipoUsuario) { %>
            <a href="/" class="brand-logo"><i class="material-icons" style="font-size: 45px">school</i>Sistema de Tutor&iacute;as Remotas</a>
            <% if(locals.tipoUsuario === 'tutor') { %>

                <ul id="dropdown_menu_sesion_tutor" class="dropdown-content">
                    <li><a href="/tutores/sesiones">Mis sesiones</a></li>
                    <li><a href="/sesion/">Todas las sesiones</a></li>
                </ul>
                <ul class="right">
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown_menu_sesion_tutor">
                            Sesiones<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li><a class="btn" href="/tutores/ver_solicitudes/">Ver Solicitudes</a></li>
                </ul>
            <% } else if(locals.tipoUsuario === 'estudiante') { %>
                <ul id="dropdown_menu_sesion_estudiante" class="dropdown-content">
                    <li><a href="/estudiantes/mis_sesiones">Mis sesiones</a></li>
                    <li><a href="/estudiantes/mis_invitaciones">Invitaciones</a></li>
                    <li><a href="/sesion/">Todas las sesiones</a></li>
                </ul>
                <ul id="dropdown_menu_solicitud_estudiante" class="dropdown-content">
                    <li><a href="/solicitud/crear/">Crear Solicitud</a></li>
                    <li><a href="/estudiante/mis_solicitudes">Mis solicitudes</a></li>
                </ul>
                <ul class="right">
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown_menu_solicitud_estudiante">
                            Solicitudes<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown_menu_sesion_estudiante">
                            Sesiones<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            <% } %>
        <% } else { %>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/estudiantes/crear/">Como Estudiante</a></li>
                <li><a href="/tutores/crear/">Como Tutor</a></li>
            </ul>
            <ul class="left">
                <li><a class="btn" href="/login">Iniciar Sesion</a></li>
            </ul>
            <ul class="right">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        Registrarme<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        <% } %>
    </div>
</nav>