<nav>
    <div class="nav-wrapper cyan darken-3">
        <a href="/" class="brand-logo"><i class="material-icons">stars</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="btn" href="/login/">Login</a></li>
            <li><a class="btn" href="/tutores/agregar_keyword/">Keyword Tutor</a></li>
            <li><a class="btn" href="/keyword/crear/">Crear Keyword</a></li>
            <li><a class="btn" href="/solicitud/crear/">Crear Solicitud</a></li>
            <li><a class="btn" href="/tutores/ver_solicitudes/">Ver Solicitudes</a></li>
            <li><a class="btn" href="/sesion/">Ver Sesiones</a></li>
        </ul>
    </div>
</nav>