<nav>
    <div class="nav-wrapper cyan darken-3">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="btn-large" href="/keyword/crear/">
                    <i class="small material-icons left">loyalty</i>Crear Keyword
                </a>
            </li>
            <li>
                <a class="btn-large" href="/solicitud/crear/">
                    <i class="small material-icons left">note_add</i>Crear Solicitud
                </a>
            </li>
        </ul>
    </div>
</nav>