<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/kurento.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/adapter.js/adapter.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <script src="/js/oyente.js"></script>
    <script src="/js/oyente_ui.js"></script>
    <title>ProyectoZ</title>
</head>
<body>
    <% include nav.ejs %>
    <div id="body">
        <% if (todavia) { %>
        <div class="row">
            <p>Falta tiempo para iniciar la tutoria</p>
        </div>
        <%} else { %>
        <div class="row">
            <!-- col s5 : col s4 -->
            <div id="video-div-oyente" class="col s5" style="background-color: #7EB3FE">
                <div class="row">
                    <a id="btn_salir" href="/" class="btn red darken-2">Salir de sesion de tutoria</a>
                </div>
                <div class="row">
                    <video id="video" autoplay></video>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <!-- col s6 : col s4 -->
            <div id="pizarra" tipo="pizarra_oyente" class="col s6">
				<div style="width: 600px; height: 250px; font-size: 18px"  id="editor">
				</div>
            </div>
            <!-- col s1 hide : col s4 text-center -->
            <div id="div_mensajes_oyente" class="col s1 hide">
                <br />
                <div class="row">
                    <div class="col s9">
                        <input id="m">
                    </div>
                    <div class="col s3">
                        <a id="btn" href="#" class="btn">Enviar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div id="mensajes" class="panel panel-default chatbox">
                            <div class="panel-body">
                                <ul id="messages"></ul>
                            </div>
                        </div>
                        <input id="sesion-id" type="hidden" value="<%= sesion %>" />
                        <input id="nombre" type="hidden" value="<%= nombre %>" />
                        <input id="email" type="hidden" value=<%= email %> />
                    </div>
                </div>
            </div>
        </div>
        <div id="toggle_chat" class="right_hidden">
            <a id="btn_toggle_chat" class="btn-floating btn-large waves-effect waves-light red z-depth-3"><i id="icon_btn_toggle_chat" class="material-icons">skip_previous</i></a>
        </div>
        <div id="question_modal_div" class="modal bottom-sheet">
            <div class="modal-content">
                <h5 id="question_title">Modal Header</h5>
                <div class="row">
                    <form id="form_pregunta" action="/sesion/responder_evaluacion/" method="post">
                        <input type="hidden" name="sesion" value="<%= sesion %>" />
                        <div id="question_choices_div" class="col s8"></div>
                        <div class="col s4">
                            <button type="submit" class="waves-effect waves-green btn btn-large">Enviar Respuesta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="/js/ace_plugin/ace.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
