<!--TODO mostrar integrantes si es un usuario del grupo, mostrar ofrecer tutoria si es un tutor-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">-->
    <!--<link href='/css/custom.css' rel='stylesheet' />-->

    <!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="/bower_components/materialize/dist/js/materialize.min.js"></script>-->
    <!--<script src='/bower_components/moment/moment.js'></script>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>ProyectoZ</title>-->
<!--</head>-->
<!--<body>-->
<!--<% include nav.ejs %>-->
<!--<div class="container">-->
    <!--<div class="row">-->
    <!--</div>-->
<!--</div>-->

<!--<script src="/js/custom.js"></script>-->
<!--<script src="/js/manejar_detalle_solicitud.js"></script>-->
<!--</body>-->
<!--</html>-->
<%= sesiones %>