
.texto-centrado {
	 text-align: center;
}

.chatbox{
	width: 100%;
}

input {
	padding: 10px;
	width: 100%;
	margin-right: .5%;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	text-align: left;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#video-div-oyente {
	background-color: red;
}

#video-div-presentador {
	background-color: dodgerblue;
}
